# Created by .ignore support plugin (hsz.mobi)
/.idea/artifacts/ArtifactID2_war.xml
/.idea/artifacts/ArtifactID2_war_exploded.xml
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_3_0.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_5_0.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_5_0.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_5_0.xml
/.idea/libraries/Maven__com_google_guava_guava_r05.xml
/.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1.xml
/.idea/libraries/Maven__com_mchange_c3p0_0_9_2_1.xml
/.idea/libraries/Maven__com_mchange_mchange_commons_java_0_2_3_4.xml
/.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_1.xml
/.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
/.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_3_1.xml
/.idea/libraries/Maven__commons_io_commons_io_2_2.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
/.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
/.idea/libraries/Maven__javaee_javaee_api_5.xml
/.idea/libraries/Maven__javax_annotation_jsr250_api_1_0.xml
/.idea/libraries/Maven__javax_el_el_api_2_2.xml
/.idea/libraries/Maven__javax_enterprise_cdi_api_1_1.xml
/.idea/libraries/Maven__javax_inject_javax_inject_1.xml
/.idea/libraries/Maven__javax_javaee_web_api_6_0.xml
/.idea/libraries/Maven__javax_servlet_servlet_api_3_0_alpha_1.xml
/.idea/libraries/Maven__jstl_jstl_1_2.xml
/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_5_1_6.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_5_4.xml
/.idea/libraries/Maven__net_sf_dozer_dozer_5_5_1.xml
/.idea/libraries/Maven__opensymphony_ognl_2_6_11.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_2_1.xml
/.idea/libraries/Maven__org_apache_geronimo_specs_geronimo_jta_1_1_spec_1_1_1.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_8_5_4.xml
/.idea/libraries/Maven__org_apache_tomcat_tomcat_jdbc_8_5_4.xml
/.idea/libraries/Maven__org_apache_tomcat_tomcat_juli_8_5_4.xml
/.idea/libraries/Maven__org_aspectj_aspectjrt_1_8_9.xml
/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_0_1_Final.xml
/.idea/libraries/Maven__org_hibernate_hibernate_c3p0_4_3_9_Final.xml
/.idea/libraries/Maven__org_hibernate_hibernate_core_5_2_2_Final.xml
/.idea/libraries/Maven__org_hibernate_hibernate_entitymanager_5_2_5_Final.xml
/.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
/.idea/libraries/Maven__org_javassist_javassist_3_20_0_GA.xml
/.idea/libraries/Maven__org_jboss_jandex_2_0_0_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_0_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_annotations_1_2_0_Beta1.xml
/.idea/libraries/Maven__org_jboss_spec_javax_interceptor_jboss_interceptors_api_1_1_spec_1_0_0_Beta1.xml
/.idea/libraries/Maven__org_json_json_20160810.xml
/.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_5.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_5.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_commons_1_12_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_jpa_1_10_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_acl_3_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_config_3_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_core_3_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_taglibs_3_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_web_3_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aop_4_3_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_beans_4_3_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_4_3_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_core_4_3_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_expression_4_3_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_orm_4_3_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_tx_4_3_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_web_4_3_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_webflow_spring_binding_2_4_4_RELEASE.xml
/.idea/libraries/Maven__org_springframework_webflow_spring_js_2_4_4_RELEASE.xml
/.idea/libraries/Maven__org_springframework_webflow_spring_js_resources_2_4_4_RELEASE.xml
/.idea/libraries/Maven__org_springframework_webflow_spring_webflow_2_4_4_RELEASE.xml
/.idea/libraries/Maven__org_webjars_jquery_2_1_4.xml
/.idea/markdown-navigator/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/ArtifactID2.iml
